.intro__title {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.2;
}

@media screen and (max-width: 1038px) {
  .intro__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 26px;
    line-height: 28px;
  }
}
