.intro__subtitle {
  margin: 0 0 34px;
  color: #fecda7;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
}

@media screen and (max-width: 768px) {
  .intro__subtitle {
    font-size: 13px;
    line-height: 1.16;
  }
}

