.quotes {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1140px;
  padding-bottom: 130px;
}

@media screen and (max-width: 1150px) {
  .quotes{
    padding-left: 48px;
    padding-right: 48px;
  }
}
