.quotes {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1140px;
  padding-bottom: 130px;
}

@media screen and (max-width: 1200px) {
  .quotes{
    padding: 0 48px 110px;
  }
}

@media screen and (max-width: 502px) {
  .quotes {
    padding: 0 24px 70px;
  }
}
