.quotes__table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}

@media screen and (max-width: 886px) {
  .quotes__table {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 592px) {
  .quotes__table {
    gap: 25px;
    justify-content: flex-start;
  }
}
