.place-image {
  width: 100%;
  height: calc(50vw - 7.5vw);
  max-height: 544px;
}

@media screen and (max-width: 752px) {
  .place-image {
    height: calc(100vw - 15vw);
    max-height: 100%;
  }
}
