.quote{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  max-width: 250px;
}

@media screen and (max-width: 1180px) {
  .quote {
    max-width: 210px;
  }
}

@media screen and (max-width: 900px) {
  .quote {
    max-width: 250px;
  }
}
