.header__navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 502px) {
  .header__navigator {
    flex-direction: column;
    align-items: flex-start;
  }
}
