.quotes__title {
  margin: 0 0 98px;
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  max-width: 440px;
}

@media screen and (max-width: 768px) {
  .quotes__title {
    font-size: 26px;
    line-height: 28px;
    margin: 0 0 64px;
  }
}

@media screen and (max-width: 440px) {
  .quotes__title {
    margin: 0 0 48px;
  }
}
